<div class="container">
    <div class="row justify-content-md-center">
        <p class="h3 mt-5">Configuraciones</p>
        <hr>
        <!-- ******************************* BAUTISMOS ********************************************** -->
        <div class="col-sm-12 col-md-5 row shadow p-3 my-5 mx-2 bg-body rounded">
            <div class="col-sm-12">
                <p class="h5">Bautismos</p>
            </div>
            <hr>
            <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-primary" routerLink="/home/bautismos">
                    <span class="align-middle my-1">
                        <mat-icon class="pt-2" aria-hidden="false" aria-label="Estructura">water</mat-icon>
                    </span>
                </button>
            </div>
        </div>
        <!-- ******************************* Editar Estructura ********************************************** -->
        <div class="col-sm-12 col-md-5 row shadow p-3 my-5 mx-2 bg-body rounded">
            <div class="col-sm-12">
                <p class="h5">Editar Estructura</p>
            </div>
            <hr>
            <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-warning" routerLink="/home/estructura">
                    <span class="align-middle my-1">
                        <mat-icon class="pt-2" aria-hidden="false" aria-label="Estructura">account_tree</mat-icon>
                    </span>
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 row shadow p-3 my-5 mx-2 bg-body rounded">
            <app-ciclos></app-ciclos>
        </div>
        

    </div>
</div>