<div class="container mb-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-5 py-5 mx-1" >
            <div class="card justify-content-md-center animate__animated animate__fadeIn">
                <div class="text-center">
                    <img  src="/assets/img/logo-icbjve.gif"
                        width="100"
                        class="mt-3 img-fluid" 
                        alt="Iglesia Cristiana Bautista Jesucristo Es La Vida Eterna">
                </div>
                <div class="card-body">
                    <figure class="mb-3">
                        <blockquote class="blockquote">
                          <p>Restablecer contraseña</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Cuando un usuario olvida su contraseña, se le envía un 
                            <cite title="Source Title">correo electrónico</cite>
                            de restablecimiento para que configure otra. 
                        </figcaption>
                    </figure>
                    <!-- Formulario -->
                    <form (ngSubmit)="resetPassword()" [formGroup]="resetForm">
                        <!-- Email -->
                        <div class="form-floating">
                            <input type="email" 
                                    class="form-control"
                                    formControlName="email"
                                    placeholder="name@example.com">
                            <label for="floatingInput" *ngIf="!campoEsValido('email')">Correo Electronico</label>
                            <label for="floatingInput" *ngIf="campoEsValido('email')" class="text-danger">Correo Electronico*</label>
                        </div>
                        <!-- Spiner -->
                        <div class="text-center mt-1" *ngIf="spiner">
                            <div class="spinner-border text-success" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <!-- Boton -->
                        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Enviar</button>
                        <!-- Mensaje -->
                        <div class="alert alert-success" role="alert" *ngIf="showTextSend">
                            {{ menssage }}
                        </div>
                        <div class="alert alert-warning" role="alert" *ngIf="showText">
                            {{ menssage }}
                        </div>
                        <!-- Login -->
                        <div class="text-center mt-3">
                            <a class="nav-link" routerLink="/login/sign-in" > ¿Ya tienes tu contraseña? </a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
